.nav-link{
    color: black;
}

.nav2-link{
    color: black;
    text-decoration: none !important;
}

.jumbotron{
    background-color: #F0F3FF;
    
}

.container{
    background-color: #F0F3FF;
    margin-left: 9vw;
}

.display-1{
    color: #563d7c !important;
    font-family: 'Medusa Gothic', sans-serif;
}

.text01{
    color: #563d7c !important;
    font-family: 'Medusa Gothic', sans-serif;
    margin-top: 8vw;
    font-size: 3vw;
    margin-left: 1vw;
}
.subtext01{
    color: #897aa0 !important;
    font-family: 'Medusa Gothic', sans-serif;
    margin-left: 1vw;
    font-size: 1vw;
}
#img004{
    height: 23vw;
}

#img005{
    height: 23vw;
}

.card a{
    color: #563d7c;
}

.card a:link{
    color: #563d7c;
}

.card a:visited{
    color: #563d7c;
}

.geral{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 10vw;
}

.button{
    color: #c2bace;
    padding: 5px;
    position: relative;
    top: 10px;
    margin-right: 15px;
    background-color: none;
    border-color: #563d7c;
    text-decoration: none !important;
}

.jumbotron1{
    margin-top: 8vw;
    background-color: transparent;
}

.container{
    margin-top: 3vw;
    background-color: transparent;
}
.btn{
    margin-top: 4vw;
}

    
#button1{
    margin-right: 2vw;
    border-color: #563d7c;
    background-color: white;
    color: #563d7c;
}

#button1:hover{
    background-color:#b7a4d3;
    color: #fff;
    border-color: #fff;
}