
.nav-link{
    color: black;
}

.nav2-link{
    color: black;
    text-decoration: none !important;
}

.jumbotron{
    background-color: #F0F3FF;
    
}

.container{
    background-color: #F0F3FF;
    margin-left: 9vw;
}

.display-1{
    color: #563d7c !important;
    font-family: 'Medusa Gothic', sans-serif;
}

.text01{
    color: #563d7c !important;
    font-family: 'Medusa Gothic', sans-serif;
    font-size: 2vw;
    margin-left: 9vw;
}

