
.nav-link{
    color: black;
}

.nav2-link{
    color: black;
    margin-bottom: 5% !important;
    text-decoration: none !important;
}

.jumbotron{
    background-color: #F0F3FF;
    
}


.container{
    background-color: #F0F3FF;
    margin-left: 9vw;
}
/*titulo matematica*/
.display-1{
    color: #6482AD !important;
    font-family: 'Medusa Gothic', sans-serif;
}
/*titulo natureza*/
.display-2{
    color: #708871 !important;
    font-family: 'Medusa Gothic', sans-serif;
}

/*titulo linguagens*/
.display-3{
    color: #987070 !important;
    font-family: 'Medusa Gothic', sans-serif;
}

/*titulo humanas*/
.display-4{
    color: #987070 !important;
    font-family: 'Medusa Gothic', sans-serif;
}



.btn-group{
    margin-left: 10vw;
    margin-top: 4vw;
  
}
/*botao de matematica*/
#button1{
    margin-right: 2vw;
    border-color: #6482AD ;
    background-color: white;
    color: #6482AD ;
}
#button1:hover{
    background-color: #7FA1C3;
    color: #fff;
    border-color: #fff;
}

/*botao de natureza*/
#button2{
    margin-right: 2vw;
    border-color: #708871;
    background-color: white;
    color: #708871;
}

#button2:hover{
    background-color: #BEC6A0;
    color: #fff;
    border-color: #fff;
}
/*botao de linguagens*/
#button3{
    margin-right: 2vw;
    border-color: #987070;
    background-color: white;
    color: #987070;
}

#button3:hover{
    background-color: #987070;
    color: #fff;
    border-color: #fff;
}

/*botao de humanas*/
#button4{
    margin-right: 2vw;
    border-color: #987070;
    background-color: white;
    color: #987070;
}

#button4:hover{
    background-color: #987070;
    color: #fff;
    border-color: #fff;
}

.titulotrimestrais{
    font-family: 'Medusa Gothic', sans-serif;
    font-size: 3em;
    padding-left: 4em;
    margin-top: 3em;
    color: #c9c2c2 ;
}

.card-deck{
    padding-left: 2%;
    margin-top: 10%;
    padding-right: 2%;
}